.navbar {
  margin-bottom: -5px;
}
.logo {
  color: #ff5722;
}
.post-title a {
  color: #333;
  font-weight: normal;
}
.post-title.unread {
  color: #848484;
}

.post-line-2,
.post-line-2 a {
    color: gray;
}
.post-line-2 {
  margin-top: -8px;
}
.post-text {
  margin-top: 20px;
}

.comment {
  margin-top: 2rem;
}

.comment-header {
  margin-bottom: -8px;
}

.comment-header, .comment-footer,
.comment-header a, .comment-footer a {
    color: gray;
}
.comment-footer {
  margin-left: -10px;
}
.comment-author a {
  color: #ff5722;
}

a.voted {
  color: #ff5722;
}