
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: #ff5722;
}
.charcha-btn {
  border-color: #ff5722;
  color: #ff5722;
}
.charcha-btn:hover {
  color: white;
  background-color: #ff5722;
}

nav ol.breadcrumb {
  padding: 0;
  margin-top: -10px;
  background-color: inherit;
}

nav a.active {
  font-weight: bold;
}

.tag { 
  font-size: 80%;
  padding: 3px 5px;
  border: rgba(0,0,0,.125) 1px solid;
  border-radius: 5px;
}
.tag-count {
  font-size: 80%;
}
.logo {
  color: #ff5722 !important;
}
.charcha {
  padding-top: 10px;
}
.teamlist .nav-item a {
  color: inherit;
}
.teamlist .nav-item .active {
  background-color: #eeeeee;
}

.post .card-header {
  background-color: inherit;
  
}
.post-list a, .text-muted a {
  color: inherit;
}
.author {
  font-weight: bold;
}
.post-list .post-metadata {
  font-size: inherit;
  font-size: 70%;
}
.post-list .post {
  border-bottom: 1px #eeeeee solid;
}

/* Discussion Page */
/* .reaction-dropdown {
  color: #aaaaaa;
}
.reaction-toolbar .dropdown-item {
  padding: 2px 5px;
} */

.bi-hand-thumbs-up {
  margin-top: -3px;
  margin-right: 3px;
}
div.separator {
  background-color:#eeeeee;
  width: 100%;
  height: 2px;
}
.post .comment {
  border-bottom: 1px #eeeeee solid;
}
.trix-content a {
  color: #ff5722;
}
.trix-content h3 {
  font-size: 20px;
  
}
.trix-content ol, .trix-content ul, 
.trix-content blockquote, .trix-content figure,
.trix-content pre {
  margin-bottom: 16px !important;
}

.trix-content blockquote, .trix-content pre {
  margin-top: 16px !important;
}

.trix-content figure {
  margin-top: 16px !important;
  display: flex !important;
  align-items: flex-start;
}
.trix-content figure img {
  padding: 5px;
}
.trix-content figure figcaption {
  font-size: 1.5rem;
}

/* Mentions in trix are represented as attachment--content */
.trix-content figure.attachment--content {
  margin: 0 !important;
  display: inline-block !important;
}

.comments trix-toolbar .trix-button-group--block-tools,
.comments trix-toolbar .trix-button-group--file-tools
 {
  display:none;
}

.comments .trix-content br {
  display: none;
}

.comments trix-editor {
  width: 80%;
  margin-right: 5px;
}

trix-toolbar .trix-button-group--history-tools,
.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level {
  display: none;
}

/* Mention Styles */
.tribute-container ul {
    background: #fff;
    border: 1px solid #ebebeb;
}

.tribute-container li.highlight {
    background: #ff5722;
    color: #fff;
}

span.mention {
    color: #ff5722;
}

.unread-indicator {
  height: 0.5em;
  width: 0.5em;
  background-color: #FFA500;
  border-radius: 50%;
  display: inline-block;
}