.logo {
  color: #ff5722 !important;
}
.charcha {
  padding-top: 10px;
}
.post-list a {
  color: inherit;
}
.post-list h3 {
  font-size: inherit;
  font-size: 120%;
}
.post-list .post-metadata {
  font-size: inherit;
  font-size: 70%;
}
.post-list .post {
  border-bottom: 1px #eeeeee solid;
}

h2 {
  font-size: 26px;
}

trix-toolbar .trix-button-group--history-tools,
.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level {
  display: none;
}
