{% extends "base.html" %}
{% load humanize %}
{% load markdown %}

{% block title %}{{ post.title }} | Charcha{% endblock %}

{% block content %}
{% spaceless %}
<div class="post">
  <div class="post-title">
    <h2>{{ post.title }}</h2>
  </div>
  <div class="post-line-2">
    <div class="post-score">
        by {{ post.author.username }} | 
        {% if request.user.id == post.author.id %}
        <a href="">edit</a> | 
        {% endif %}
      {{ post.score }} point{{ post.score | pluralize }} | 
      {{ comments|length }} comment{{ comments | length | pluralize }} |
      {{ post.submission_time | naturaltime }}
    </div>
  </div>
  <div class="panel">
    <div class="post-text">
      <p>{{post.text | markdown}}</p>
    </div>
    <div class="comment-footer btn-group" role="group">
      <!-- <a class="upvote-discussion btn" data-state="disabled" data-object-type="posts" data-object-id="post.id">
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
        {{post.upvotes}}
      </a> -->
      {% if request.user.id == post.author.id %}
      <a class="btn" href="{% url 'edit-discussion' post.id %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        edit
      </a>
      {% endif %}
      {% if request.user.is_staff %}
        <a class="btn" href="{% url 'admin:discussions_post_change' post.id %}">manage</a>
      {% endif %}
    </div>
  </div>
</div>

{% for comment in comments %}
<div id="comment-{{comment.id}}" class="panel comment indent-{{comment.indent}}">
  <div class="comment-header">
    <span class="comment-author">
      <a href="#">{{ comment.author.username }}</a>
    </span>
    <span> | </span>
    <!-- <span>{{comment.score}} points</span>
    <span> | </span> -->
    <span class="comment-submission-time">{{ comment.submission_time | naturaltime }}</span>
    <span> | </span>
    <span><a href="#comment-{{comment.id}}">permalink</a></span>  
  </div>
  <div class="comment-text">
    <p>
      {{ comment.text | markdown}}
    </p>
  </div>
  <div class="comment-footer btn-group" role="group">
    <!-- <a class="btn" data-state="disabled">
      <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
      2
    </a> -->
    {% if comment.indent < 12 %}
    <a class="btn comment-action reply" href="{% url 'reply_to_comment' comment.id %}">
      <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
      reply
    </a>
    {% else %}
    <span><i>replies not allowed anymore</i></span>
    {% endif %}
    {% if request.user.username == comment.author.username %}
    <a class="btn" href="{% url 'edit_comment' comment.id %}">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      edit
    </a>
    {% endif %}
    {% if request.user.is_staff %}
    <a class="btn" href="{% url 'admin:discussions_comment_change' comment.id %}">manage</a>
    {% endif %}
  </div>
</div>
{% endfor %}

<div class="panel">
  <h4>Your Response:</h4>
  <form method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <input type="hidden" id="trix-text" name="text" value=""/>
    <trix-editor class="trix-content" input="trix-text"></trix-editor>
    {{ form.text.errors }}
    <button type="submit" class="btn btn-default">Reply</button>
  </form>
</div>
{% endspaceless %}
{% endblock %}
