{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Charcha{% endblock %}

{% block content %}
{% spaceless %}
<div class="col-md-8">
  <div class="border-bottom pb-1 mb-2 d-flex justify-content-between">
    {% if group %}
    <div>
      <h2 class="mb-0">{{ group.name | title }}</h2>
      <small class="text-muted">{{ group.purpose }}</small>
    </div>
    <div class="dropdown show">
      <a class="btn charcha-btn dropdown-toggle" href="javascript:void(0)" role="button" id="newPostMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       New
      </a>
      <div class="dropdown-menu" aria-labelledby="newPostMenuLink">
        <a class="dropdown-item" href="{% url "new-post" group.id "feedback" %}">
          <div class="d-flex flex-column">
            <span>Request Feedback</span>
            <small class="text-muted">on a design, proposal, code etc.</small>
          </div>
        </a>
        <a class="dropdown-item" href="{% url "new-post" group.id "question" %}">
          <div class="d-flex flex-column">
            <span>Question</span>
            <small class="text-muted">on company issues, technology, etc.</small>
          </div>
        </a>
        <a class="dropdown-item" href="{% url "new-post" group.id "discussion" %}">
          <div class="d-flex flex-column">
            <span>Discussion</span>
            <small class="text-muted">On any topic relevant to the group</small>
          </div>
        </a>
        <a class="dropdown-item" href="{% url "new-post" group.id "announcement" %}">
          <div class="d-flex flex-column">
            <span>Announcement</span>
            <small class="text-muted">Inform the group of new developments</small>
          </div>
        </a>
      </div>
    </div>
    {% else %}
    <div><h2 class="mb-0">All Discussions</h2></div>
    {% endif %}
    
  </div>
  <div class="d-flex mb-1">
    <div class="ml-auto">
      <span class="mr-1">Sort by:</span>
      <span class="mr-1">
        {% if selected_sort_by == 'recentposts' %}
        Recent Posts
        {% else %}
        <a href="{{ request.path }}?sort_by=recentposts">Recent Posts</a>
        {% endif %}
      </span>
      <span class="mr-1">|</span>
      <span>
        {% if selected_sort_by == 'newactivity' %}
        New Activity
        {% else %}
        <a href="{{ request.path }}?sort_by=newactivity">New Activity</a>
        {% endif %}
      </span>
    </div>
  </div>
  <div class="post-list">
  {% for post in posts %}
  <div class="media post mb-2 {% if post.is_read %} read {% else %} unread {% endif %}">
    {% if post.author.avatar %}
      <img width="40" src="{{post.author.avatar}}" class="rounded-circle mr-3"/>
    {% else %}
      <img width="40" src="{% static "icons/person.svg" %}" class="rounded-circle mr-3"/>
    {% endif %}
    <div class="media-body">
    <h3>
      <div class="post-title"><a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a></div>
      <small class="post-metadata text-muted">
          by <a href="{% url 'profile' post.author.id %}">{{ post.author }}</a> |
          {% if not group %}
          <a href="{% url 'group_home' post.group.id %}">{{post.group.name}}</a> |
          {% endif %}
          Last Seen: {{ post.lastseen_timestamp }}
          {% if selected_sort_by == 'newactivity' %}
            last activity {{ post.last_modified  }}
          {% else %}
            created {{ post.submission_time  }}
          {% endif %}
          {% if request.user.is_staff %}
          | <a href="{% url 'admin:discussions_post_change' post.id %}">manage</a>
          {% endif %}
      </small>
    </h3>
    </div>
  </div>
  {% endfor %}
  </div>
</div>  

{% if groups %}
<div class="col-md-4">
  <div class="card mt-3">
    <h4 class="card-header">My Teams</h4>
      <ul class="list-group list-group-flush">
        {% for group in groups %}
        <li class="py-1 list-group-item"><a href="{% url 'group_home' group.id %}">{{group.name}}</a></li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endif %}

{% if not groups %}
<div class="col-md-4">
  {% if group %}
  <div class="card mt-3">
    <h4 class="card-header">About {{group.name|title}}</h4>
    <div class="card-body">
      <div class="trix-content">
        {{ group.description | safe}}
      </div>
    </div>
  </div>
  {% endif %}

  {% if active_members %}
  <div class="card mt-3">
    <h4 class="card-header">Active Members</h4>
    <div class="card-body">
      <ul class="list-unstyled">
      {% for m in active_members %}
          <li class="pb-2">
            {% if m.avatar %}
            <img width="30" src="{{m.avatar}}" class="rounded-circle mr-3"/>
            {% else %}
            <img width="30" src="{% static "icons/person.svg" %}" class="rounded-circle mr-3"/>
            {% endif %}
            <a href="{% url 'profile' m.id %}?group={{group.id}}">{{m.display_name}}</a>
          </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  <!-- <div class="card">
    <h4 class="card-header">Bookmarks</h4>
    <div class="card-body">
    <ul class="ml-n4">
      <li><a href="https://drive.google.com/drive/u/1/folders/0B-1Y8nINFksuTFAzSnlvY1B4WXc">Presales Folder in GDrive</a></li>
      <li><a href="https://docs.google.com/presentation/d/1pldV79_KPhP0rgMXsdigF5yRrO8YzrKDx41GpPXkMbA/edit#slide=id.g5746c2cf76_0_0">MASTER - HashedIn Portfolio - Intelligent SaaS</a></li>
      <li><a href="https://app.hubspot.com/contacts/5534647/deals/board/view/all/">Hubspot Deals</a></li>
      <li><a href="mailto:presales@hashedin.com">Mailing List</a></li>
    </ul>
    </div>
  </div>
  <div class="card mt-3">
    <h4 class="card-header">Members</h4>
    <div class="card-body">
      <span>Sripathi Krishnan</span>, <span>Harshit Singhal</span>, <span>Gaurav Aroroa</span> and 12 others
    </div>
  </div> -->
</div>
{% endif %}
{% endspaceless %}
{% endblock %}
