{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Charcha{% endblock %}

{% block content %}
{% spaceless %}
<div class="post-list">
{% for post in posts %}
<div class="media post mb-2">
  {% if post.author.avatar %}
    <img width="40" src="{{post.author.avatar}}" class="rounded-circle mr-3"/>
  {% else %}
    <img width="40" src="{% static "icons/person.svg" %}" class="rounded-circle mr-3"/>
  {% endif %}
  <div class="media-body">
  <h3>
    <div class="post-title"><a href="{% url 'discussion' post.id %}">{{ post.title }}</a></div>
    <small class="post-metadata text-muted">
        by <a href="/profile/me">{{ post.author }}</a> | {% include "partials/teams.html" with teams=post.teamsobj %} |
        {{ post.num_comments }} comment{{ post.num_comments|pluralize }} |
        {{ post.score }} point{{ post.score | pluralize }} | 
        {{ post.submission_time | naturalday }}
        {% if request.user.is_staff %}
        | <a href="{% url 'admin:discussions_post_change' post.id %}">manage</a>
        {% endif %}
    </small>
  </h3>
  </div>
</div>
{% endfor %}
</div>
{% endspaceless %}
{% endblock %}
