{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Charcha{% endblock %}

{% block content %}
{% spaceless %}
<div class="col-md-8">
  <div class="border-bottom pb-1 mb-2 d-flex justify-content-between">
    {% if mode == 'group' %}
    <div>
      <h2 class="mb-0">{{ group.name | title }}</h2>
      <small class="text-muted">{{ group.purpose }}</small>
    </div>
    <div class="d-flex">
      <div class="mr-2"><a class="btn charcha-btn" href="{% url 'edit_group' group.id %}">Manage Group</a></div>
      <div class="dropdown show">
        <a class="btn charcha-btn dropdown-toggle" href="javascript:void(0)" role="button" id="newPostMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        New
        </a>
        <div class="dropdown-menu" aria-labelledby="newPostMenuLink">
          <a class="dropdown-item" href="{% url "new-post" group.id "feedback" %}">
            <div class="d-flex flex-column">
              <span>Request Feedback</span>
              <small class="text-muted">on a design, proposal, code etc.</small>
            </div>
          </a>
          <a class="dropdown-item" href="{% url "new-post" group.id "question" %}">
            <div class="d-flex flex-column">
              <span>Question</span>
              <small class="text-muted">on company issues, technology, etc.</small>
            </div>
          </a>
          <a class="dropdown-item" href="{% url "new-post" group.id "discussion" %}">
            <div class="d-flex flex-column">
              <span>Discussion</span>
              <small class="text-muted">On any topic relevant to the group</small>
            </div>
          </a>
          <a class="dropdown-item" href="{% url "new-post" group.id "announcement" %}">
            <div class="d-flex flex-column">
              <span>Announcement</span>
              <small class="text-muted">Inform the group of new developments</small>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% elif mode == 'home' %}
    <div><h2 class="mb-0">All Discussions</h2></div>
    {% elif mode == 'tag' %}
    <div><h2 class="mb-0">{{tag.fqn}}</h2></div>
    {% endif %}
    
  </div>
  <div class="d-flex mb-3">
    <div class="d-flex ml-auto">
      <span class="">Sort by:</span>
      <nav class="nav">
        <a class="py-0 px-1 border-right nav-link {% if selected_sort_by == 'newactivity' %}active{% endif %}"  href="{{ request.path }}?sort_by=newactivity">New Activity</a>
        <a class="py-0 px-1 nav-link {% if selected_sort_by == 'recentposts' %}active{% endif %}" href="{{ request.path }}?sort_by=recentposts">Recent Posts</a>
      </nav>
    </div>
  </div>
  <div class="post-list">
  {% for post in posts %}
  <div class="media post mb-2">
    {% if post.author.avatar %}
      <img width="40" src="{{post.author.avatar}}" class="rounded-circle mr-3"/>
    {% else %}
      <img width="40" src="{% static "icons/person.svg" %}" class="rounded-circle mr-3"/>
    {% endif %}
    <div class="media-body">
    <h3>
      <div class="post-title"><a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a></div>
      <small class="post-metadata text-muted">
          by <a href="{% url 'profile' post.author.id %}">{{ post.author }}</a> |
          {% if not group %}
          <a href="{% url 'group_home' post.group.id %}">{{post.group.name}}</a> |
          {% endif %}
          {% if selected_sort_by == 'newactivity' %}
            last activity {{ post.last_activity  }}
          {% else %}
            created {{ post.submission_time  }}
          {% endif %}
          {% if request.user.is_staff %}
          | <a href="{% url 'admin:discussions_post_change' post.id %}">manage</a>
          {% endif %}
      </small>
    </h3>
    </div>
    {% if not post.is_read %}
    <span class="mt-2 unread-indicator"></span>
    {% endif %}
  </div>
  {% endfor %}
  </div>
</div>  

{% if mode == 'home' %}
<div class="col-md-4">
  <div class="card mt-3">
    <h4 class="card-header">My Groups</h4>
      <ul class="list-group list-group-flush">
        {% for group in groups %}
        <li class="py-1 list-group-item"><a href="{% url 'group_home' group.id %}">{{group.name}}</a></li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endif %}

{% if mode == 'group' %}
<div class="col-md-4">
  {% if group %}
  <div class="card mt-3">
    <h4 class="card-header">{{group.name|title}}</h4>
    <div class="card-body">
      <div class="trix-content">
        {{ group.description | safe}}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="card mt-3">
    <h4 class="card-header">Recent Tags</h4>
    <div class="card-body">
      <ol class="list-unstyled">
      {% for tag in recent_tags %}
        <li class="mb-2">
          <a href="{% url "tag_home" tag.id %}"><span class="tag mr-1">{{ tag.fqn }}</span></a>
          <span class="tag-count">x {{tag.count}}</span>
        </li>
      {% endfor %}
      </ol>
    </div>
  </div>

  {% if active_members %}
  <div class="card mt-3">
    <h4 class="card-header">Active Members</h4>
    <div class="card-body">
      <ul class="list-unstyled">
      {% for m in active_members %}
          <li class="pb-2">
            {% if m.avatar %}
            <img width="30" src="{{m.avatar}}" class="rounded-circle mr-3"/>
            {% else %}
            <img width="30" src="{% static "icons/person.svg" %}" class="rounded-circle mr-3"/>
            {% endif %}
            <a href="{% url 'profile' m.id %}?group={{group.id}}">{{m.display_name}}</a>
          </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  <!-- <div class="card">
    <h4 class="card-header">Bookmarks</h4>
    <div class="card-body">
    <ul class="ml-n4">
      <li><a href="https://drive.google.com/drive/u/1/folders/0B-1Y8nINFksuTFAzSnlvY1B4WXc">Presales Folder in GDrive</a></li>
      <li><a href="https://docs.google.com/presentation/d/1pldV79_KPhP0rgMXsdigF5yRrO8YzrKDx41GpPXkMbA/edit#slide=id.g5746c2cf76_0_0">MASTER - HashedIn Portfolio - Intelligent SaaS</a></li>
      <li><a href="https://app.hubspot.com/contacts/5534647/deals/board/view/all/">Hubspot Deals</a></li>
      <li><a href="mailto:presales@hashedin.com">Mailing List</a></li>
    </ul>
    </div>
  </div>
  <div class="card mt-3">
    <h4 class="card-header">Members</h4>
    <div class="card-body">
      <span>Sripathi Krishnan</span>, <span>Harshit Singhal</span>, <span>Gaurav Aroroa</span> and 12 others
    </div>
  </div> -->
</div>
{% endif %}

{% if mode == 'tag' %}
<div class="col-md-4">
<div class="sidebar mt-5 pb-3 border-bottom d-none d-md-block">
  {% if tag.ext_link %}
  <a href="{{tag.ext_link}}" target="hubspot">
    <h4>{{tag.name}} 
      <small><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
        <path d="M5.712 6.96l.167-.167a1.99 1.99 0 0 1 .896-.518 1.99 1.99 0 0 1 .518-.896l.167-.167A3.004 3.004 0 0 0 6 5.499c-.22.46-.316.963-.288 1.46z"/>
        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
        <path d="M10 9.5a2.99 2.99 0 0 0 .288-1.46l-.167.167a1.99 1.99 0 0 1-.896.518 1.99 1.99 0 0 1-.518.896l-.167.167A3.004 3.004 0 0 0 10 9.501z"/>
      </svg></small>
    </h4>
  </a>
  {% else %}
  <h4>{{tag.name}}</h4>
  {% endif %}
  {% for key, value in tag.attributes.items %}
    <dt>{{key | title}}</dt><dd>{{value}}</dd>
  {% endfor %}
</div>
</div>
{% endif %}
{% endspaceless %}
{% endblock %}
