{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}{{ post.title }} | Charcha{% endblock %}

{% block pagejs %}
<script>
  var serverTimeISO = "{{ SERVER_TIME_ISO }}";
</script>
{% endblock %}

{% block content %}
{% spaceless %}
<div class="col-md-12">
  <nav aria-label=" breadcrumb">
    <ol class="breadcrumb mt-1 mb-3">
      <li class="breadcrumb-item">
        <a href="{% url "group_home" post.group.id %}">{{ post.group.name | title }}</a>
      </li>
      <li class="breadcrumb-item"><a href="{% url "group_home" post.group.id %}">
        {% include "partials/post-type-breadcumb.html" with post_type=post.post_type %} 
      </a></li>
      <!-- <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li> -->
    </ol>
  </nav>
</div>
<div class="col-md-8 post-details">
  <h1 class="card-title d-flex justify-content-between">
    <span>{{ post.title }}</span>
    <div style="width:30px">{% include "partials/post-type-icon.html" with post_type=post.post_type %}</div>
  </h1>

  <div class="mt-n2 mb-4">
    {% for tag in post.tags.all %}
    <a href="{% url "group_home" post.group.id %}"><span class="tag mr-2">{{ tag.fqn }}</span></a>
    {% endfor %}
  </div>

  <div id="post-{{post.id}}" class="card post original-post {% if post.is_read %} read {% else %} unread {% endif %} {% if post.has_unread_children %} has-unread-children {% endif %}">
    <div class="card-header">
      <div class="d-flex">
        <div>
          {% if post.author.avatar %}
          <img width="40" src="{{post.author.avatar}}" class="rounded-circle mr-3"/>
          {% else %}
          <img width="30" src="{% static "icons/person.svg" %}" class="rounded-circle mr-3"/>
          {% endif %}
        </div>
        <div class="text-muted d-flex ">
          <a class="author" href="{% url 'profile' post.author.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
          <span class="d-none d-md-block">, {{post.author.designation}}</span>
        </div>
        
        <small class="text-muted ml-auto">
            {{ post.submission_time | naturaltime }}
            {% if not post.is_read %}
            <span class="unread-indicator ml-2"></span>
            {% endif %}
        </small>
      </div>
    </div>
    <div class="card-body">
      <div class="trix-content">
        {{post.html | safe}}
      </div>
      <div class="mt-2 btn-group text-muted">
        {% include "partials/post-vote-control.html" with obj_type='posts' obj=post %}
        {% if request.user.id == post.author.id %}
        <a class="btn btn-sm py-0" href="{% url 'edit-discussion' post.id %}">
          edit
        </a>
        {% endif %}
        {% if post.comments.all|length == 0 %}
        <a data-action="add-comment" data-post-id="{{post.id}}" class="text-muted btn btn-sm p-0" href="{% url 'add_comment' post.id %}">
          <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-reply" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.502 5.013a.144.144 0 0 0-.202.134V6.3a.5.5 0 0 1-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 0 1 1.921-.306 7.403 7.403 0 0 1 .798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 0 1 .45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 0 1 .042-.028.147.147 0 0 0 0-.252.494.494 0 0 1-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 0 0-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 0 1-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.667z"/>
          </svg>
          add a comment
        </a>
        {% endif %}
        {% if request.user.is_staff %}
          <a class="btn btn-sm py-0" href="{% url 'admin:discussions_post_change' post.id %}">manage</a>
        {% endif %}
      </div>
      <div data-container="post-{{post.id}}-comments" class="comments mt-3">
        {% if post.comments.all|length > 0 %}
        <ol class="border-top ml-3 list-unstyled">
          {% for comment in post.comments.all %}
          <li id="comment-{{comment.id}}" style="position: relative;" class="py-2 border-bottom {% if comment.is_read %} read {% else %} unread {% endif %}">
            <small>
              <div>
              {{comment.html | safe}}
               –&nbsp;
              <span class="text-muted">
                <a href="{% url 'profile' comment.author.id %}">{{ comment.author.first_name }} {{comment.author.last_name}}</a>
                {{comment.submission_time }}
                {% if request.user.id == comment.author.id %}
                <a class="pl-2 text-muted" href="{% url 'edit_comment' comment.id %}">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </a>
                {% endif %}
              </span>
              </div>
            </small>
            {% if not comment.is_read %}
              <span style="position: absolute; right:-5px; top:0.75em" class="unread-indicator"></span>  
            {% endif %}
          </li>
          {% endfor %}
          <li class="py-2">
            <a data-action="add-comment" data-post-id="{{post.id}}" class="text-muted btn btn-sm p-0" href="{% url 'add_comment' post.id %}">
              <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-reply" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M9.502 5.013a.144.144 0 0 0-.202.134V6.3a.5.5 0 0 1-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 0 1 1.921-.306 7.403 7.403 0 0 1 .798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 0 1 .45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 0 1 .042-.028.147.147 0 0 0 0-.252.494.494 0 0 1-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 0 0-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 0 1-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.667z"/>
              </svg>
              add a comment
            </a>
          </li>
        </ol>
        {% endif %}
      </div>
    </div>
    <div data-post-id="{{post.id}}" class="end-of-post"></div>
  </div>
  <div class="d-flex justify-content-center align-items-center py-4">
    <div class="separator">&nbsp;</div>
    <div class="px-4"><b>{{ child_posts|length }}&nbsp;response{{ child_posts | length | pluralize }}</b></div>
    <div class="separator">&nbsp;</div>
  </div>
  {% for childpost in child_posts %}
  <div id="post-{{childpost.id}}" class="mb-3 rounded card post {% if childpost.is_read %} read {% else %} unread {% endif %} {% if childpost.has_unread_children %} has-unread-children {% endif %}">
    <div class="card-header d-flex align-items-start justify-content-between text-muted ">
      <div class="d-flex">
        {% if childpost.author.avatar %}
          <img width="40" src="{{childpost.author.avatar}}" class="rounded-circle mr-3"/>
        {% else %}
          <img width="30" src="{% static "icons/person.svg" %}" class="rounded-circle mr-3"/>
        {% endif %}
        <div class="d-flex">
          <a class="author" href="{% url 'profile' childpost.author.id %}">{{ childpost.author.first_name }} {{ childpost.author.last_name }}</a>
          <span class="d-none d-md-block">, {{childpost.author.designation}}</span>
        </div>
        
      </div>
      <div>
        <small class="px-2">
          {{ childpost.submission_time | naturaltime }}
        </small>
        <a href="#post-{{childpost.id}}">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
            <path d="M5.712 6.96l.167-.167a1.99 1.99 0 0 1 .896-.518 1.99 1.99 0 0 1 .518-.896l.167-.167A3.004 3.004 0 0 0 6 5.499c-.22.46-.316.963-.288 1.46z"/>
            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
            <path d="M10 9.5a2.99 2.99 0 0 0 .288-1.46l-.167.167a1.99 1.99 0 0 1-.896.518 1.99 1.99 0 0 1-.518.896l-.167.167A3.004 3.004 0 0 0 10 9.501z"/>
          </svg>
        </a>
        {% if not childpost.is_read %}
          <span class="unread-indicator ml-2"></span>
        {% endif %}
      </div>
    </div>
    <div class="card-body pb-1">
      <div class="trix-content">
          {{ childpost.html | safe}}
      </div>
      <div class="text-muted mt-3" role="group">
        {% include "partials/post-vote-control.html" with obj_type='posts' obj=childpost %}
        {% if request.user.id == childpost.author.id %}
        <a class="text-muted btn btn-sm p-0 mr-2" href="{% url 'edit-discussion' childpost.id %}">
          <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          edit
        </a>
        {% endif %}
        {% if childpost.comments.all|length == 0 %}
        <a data-action="add-comment" data-post-id="{{childpost.id}}" class="text-muted btn btn-sm p-0" href="{% url 'add_comment' childpost.id %}">
          <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-reply" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.502 5.013a.144.144 0 0 0-.202.134V6.3a.5.5 0 0 1-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 0 1 1.921-.306 7.403 7.403 0 0 1 .798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 0 1 .45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 0 1 .042-.028.147.147 0 0 0 0-.252.494.494 0 0 1-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 0 0-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 0 1-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.667z"/>
          </svg>
          add a comment
        </a>
        {% endif %}
        {% if request.user.is_staff %}
        <a class="btn py-0" href="{% url 'admin:discussions_post_change' childpost.id %}">manage</a>
        {% endif %}
      </div>
      <div data-container="post-{{childpost.id}}-comments" class="comments mt-3">
        {% if childpost.comments.all|length > 0 %}
        <ol class="border-top ml-3 list-unstyled">
          {% for comment in childpost.comments.all %}
          <li id="comment-{{comment.id}}" style="position: relative;" class="py-2 border-bottom {% if comment.is_read %} read {% else %} unread {% endif %}">
            <small>
              <div>
              {{comment.html | safe}}
               –&nbsp;
              <span class="text-muted">
                <a href="{% url 'profile' comment.author.id %}">{{ comment.author.first_name }} {{comment.author.last_name}}</a>
                {{comment.submission_time }}
                {% if request.user.id == comment.author.id %}
                <a class="pl-2 text-muted" href="{% url 'edit_comment' comment.id %}">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </a>
                {% endif %}
              </span>
              </div>
            </small>
            {% if not comment.is_read %}
              <span style="position: absolute; right:-5px; top:0.75em" class="unread-indicator"></span>  
            {% endif %}
          </li>
          {% endfor %}
          <li class="py-2">
            <a data-action="add-comment" data-post-id="{{childpost.id}}" class="text-muted btn btn-sm p-0" href="{% url 'add_comment' childpost.id %}">
              <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-reply" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M9.502 5.013a.144.144 0 0 0-.202.134V6.3a.5.5 0 0 1-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 0 1 1.921-.306 7.403 7.403 0 0 1 .798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 0 1 .45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 0 1 .042-.028.147.147 0 0 0 0-.252.494.494 0 0 1-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 0 0-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 0 1-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.667z"/>
              </svg>
              add a comment
            </a>
          </li>
        </ol>
        {% endif %}
      </div>
      <div data-post-id="{{childpost.id}}" class="end-of-post"></div>
    </div>

  </div>
  {% endfor %}

  <h4 class='my-3'>Your Response:</h4>
  <form method="post" action="{% url 'new-child-post' post.id 'response' %}">
    {% csrf_token %}
    {{ form | crispy }}
    <trix-editor id="trix-new-child-post" class="trix-content" input="id_html"></trix-editor>
    <button type="submit" class="mt-3 btn charcha-btn">Reply</button>
  </form>
</div>
<div class="col-md-4 pl-3">
  <div class="sidebar pb-3 border-bottom">
    <h4 class="mt-2 mb-3">Notifications</h4>
    <div>
      <form method="post" action="{% url 'subscribe-to-post' post.id %}">
        {% csrf_token %}
      <div class="dropdown show">
        <button class="btn d-flex border align-items-center dropdown-toggle" href="javascript:void(0)" role="button" id="subscriptionBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-broadcast" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 0 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707z"/>
            <path d="M10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
          </svg>
          <span class="ml-2">
            {% if not post.my_subscription or post.my_subscription == 0 %}
              Mute
            {% elif post.my_subscription == 1 %}
              Replies Only
            {% elif post.my_subscription == 2 %}
              On New Posts and Replies
            {% elif post.my_subscription == 3 %}
              All Notifications
            {% else %}
              Unknown State
            {% endif %}
          </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="subscriptionBtn">
          <button {% if not post.my_subscription or post.my_subscription == 0 %} disabled {% endif %} data-dont-disable-on-submit="true" class="dropdown-item" type="submit" name="subscription" value="0">
            <div class="d-flex flex-column">
              <span>Mute</span>
              <small class="text-muted">No notifications, except mentions</small>
            </div>
          </button>
          <button {% if post.my_subscription == 1 %} disabled {% endif %} class="dropdown-item"  data-dont-disable-on-submit="true" type="submit" name="subscription" value="1">
            <div class="d-flex flex-column">
              <span>On Replies</span>
              <small class="text-muted">On replies to your posts or comments</small>
            </div>
          </button>
          <button {% if post.my_subscription == 2 %} disabled {% endif %} class="dropdown-item"   data-dont-disable-on-submit="true" type="submit" name="subscription" value="2">
            <div class="d-flex flex-column">
              <span>On New Posts and Replies</span>
              <small class="text-muted">On a new post in this thread, plus on replies</small>
            </div>
          </button>
          <button {% if post.my_subscription == 3 %} disabled {% endif %} class="dropdown-item"   data-dont-disable-on-submit="true" type="submit" name="subscription" value="3">
            <div class="d-flex flex-column">
              <span>All Notifications</span>
              <small class="text-muted">On any activity on this thread</small>
            </div>
          </button>
        </div>
      </div>
      {% if not post.my_subscription or post.my_subscription == 0 %}
        <small>You are not receiving notifications on this thread, except @mentions</small>
      {% elif post.my_subscription == 1 %}
      <small>You are receiving notifications on replies to your posts</small>
      {% elif post.my_subscription == 2 %}
        <small>You are receiving notifications on new posts and replies to your posts</small>
      {% elif post.my_subscription == 3 %}
        <small>You are receiving all notifications on this thread</small>
      {% else %}
        <small>Unknown notification preference</small>
      {% endif %}
      </form>
    </div>
  </div>
  {% for tag in post.tags.all %}
  <div class="sidebar mt-3 pb-3 border-bottom d-none d-md-block">
    {% if tag.ext_link %}
    <a href="{{tag.ext_link}}" target="hubspot">
      <h4>{{tag.name}} 
        <small><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M5.712 6.96l.167-.167a1.99 1.99 0 0 1 .896-.518 1.99 1.99 0 0 1 .518-.896l.167-.167A3.004 3.004 0 0 0 6 5.499c-.22.46-.316.963-.288 1.46z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
          <path d="M10 9.5a2.99 2.99 0 0 0 .288-1.46l-.167.167a1.99 1.99 0 0 1-.896.518 1.99 1.99 0 0 1-.518.896l-.167.167A3.004 3.004 0 0 0 10 9.501z"/>
        </svg></small>
      </h4>
    </a>
    {% else %}
    <h4>{{tag.name}}</h4>
    {% endif %}
    {% for key, value in tag.attributes.items %}
      <dt>{{key | title}}</dt><dd>{{value}}</dd>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<div id="reply-template" class="d-none">
  <div data-container="reply-form" class="mt-3">
  <form method="post" action="/posts/<<post_id>>/add-comment" onsubmit="submitbtn.disabled=true; return true;">
    <div class="form-inline">
      {% csrf_token %}
      <input type="hidden" name="html" id="reply-to-<<post_id>>"/>
      <trix-editor id="trix-reply-to-<<post_id>>" class="trix-content" placeholder="Question, clarification, feedback. Max 250 characters. For longer text, create a post." input="reply-to-<<post_id>>"></trix-editor>
      <button name="submitbtn" data-disable-on-submit="true" type="submit" class="btn btn-sm charcha-btn">Add Comment</button>
    </div>
  </form>
  </div>
</div>
{% endspaceless %}
{% endblock %}
