{% extends "base.html" %}
{% load static %}
{% load bootstrap %}
{% load markdown %}
{% block title %}Reply to Comment{% endblock %}

{% block content %}
<h3>You are replying to:</h3>

<div class="comment-text">
<p>
{{ parent_comment.text | markdown }}
</p>
</div>

<br/>
<form method="post">
    {% csrf_token %}
    {{ form | bootstrap }}
    <input type="submit" value="Submit Comment" />
</form>
<br/>
<strong>Preview</strong>
<div class="comment-text">
  <p id="preview">
  </p>
</div>

{% endblock %}

{% block before-body-close %}
<script>
    $("#id_text").focus();
    $('#id_text').bind('input propertychange', function() {
        html_content = markdown.toHTML(this.value);
        $("#preview").html(html_content)
    });
</script>
<script src="{% static "markdown.min.js" %}"></script>
{% endblock %}
