{% extends "base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %}New Discussion{% endblock %}

{% block pagecss %}

{% endblock %}

{% block content %}
<h2>New Discussion</h2>

<form method="post">
    {% csrf_token %}
    {{ form | bootstrap }}
    <button type="submit" class="btn btn-default">Start Discussion</button>
</form>

<br/>
<strong>Preview</strong>
<div class="comment-text">
  <p id="preview">
  </p>
</div>

{% endblock %}

{% block before-body-close %}
<script>
    $("#id_title").focus();
    $('#id_text').bind('input propertychange', function() {
        html_content = markdown.toHTML(this.value);
        $("#preview").html(html_content)
    });
</script>
<script src="{% static "markdown.min.js" %}"></script>
{% endblock %}
